[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
faker = "*"

[dev-packages]
ipython = "*"
flake8 = "*"
bandit = "*"
coverage = "*"
pre-commit = "*"
tox = "*"
tox-pyenv = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
sphinx = "*"
black = "*"
mypy = "*"
xenon = "*"
pip = "*"
tutoapi = {editable = true, path = "."}

[pipenv]
allow_prereleases = true
